{% import _self as formMacros %}

{% macro printAuthorRow(authorsForm, author) %}
    <div class="col-xs-4 js-tool-item">

        <button class="btn btn-danger btn-sm js-remove-author">- Remove Author</button>

        {{ form_errors(authorsForm) }}

        {{ form_row(authorsForm.name, {'attr': {'class': 'js-author-name'}}) }}
        {{ form_row(authorsForm.country, {'attr': {'class': 'js-author-country'}}) }}

    </div>
{% endmacro %}

{{ form_start(form, {'attr': {'id': 'add_task'}}) }}
    {{ form_row(form.title, {'value': book.title}) }}

    {{ form_row(form.publisher, {'value': book.publisher}) }}

    {{ form_row(form.pages, {'value': book.pages}) }}
    {{ form_row(form.isPublished, {'value': book.isPublished}) }}

<div class="row js-tools-wrapper"
     data-prototype="{{ formMacros.printAuthorRow(form.authors.vars.prototype)|e('html_attr') }}"
     data-index="{{ form.authors|length }}">

    <div class="text-center ">
        <button class="btn btn-success btn-sm js-author-add ">+ Add Author</button>

    </div>
</div>

<button id="{{ book.id }}" type="submit" class="btn btn-primary author-list" formnovalidate>Update Book</button>
{{ form_end(form) }}
